.actions{
    align-items: left;
}

.move,.delete,.edit{
    color: #fffbf4;
    height: 40px;
    width: 40px;
    margin: 2px 5px;
    border-radius: 50%;
    border: none;
}

.edit{
    background-color: rgb(47, 172, 255);
}

.move{
    background-color: greenyellow;
}

.delete{
    background-color: red;
}