*{
  margin: 0;
  padding: 0;
}

.container{
  width:50vw;
  margin:auto;
  margin-top: 2vh;
  background-color: #FFC312;
  align-items: center;
  padding:5vh 5vw;
  font-size: 1.2em;
  border-radius: 10px;
  font-weight: 600;
}

.base-btn {
  align-items: center;
  background-clip: padding-box;
  background-color: #fa6400;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  height: 3rem;
  padding: 5px 1vw;
  width: auto;
  margin:1vh 1vw;
}

.base-btn:hover,
.base-btn:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}


